@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Lobster;
}

h1 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  font-weight: normal;
  background: linear-gradient(red, yellow, red);
  -webkit-background-clip: text;
}